.homeButton {
	margin: 3%;
	color: grey;
	background: #f2faff;
	padding: 1% 2%;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border: none;
}
.homeButton:hover {
	background-color: #dce5eb;
}
.card-container {
	background-color: #074770;
	color: white;
	margin: 0;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	position: relative;
}
.form {
	margin: 3% 3% 3% 5%;
}
.btn-submit {
	position: absolute;
	top: 50px;
	left: 900px;
}
.all-coordinates {
	background-color: #f2faff;
	height: 395px;
	margin-left: 1.3%;
	border-bottom-left-radius: 20px;
	color: black;
}
.all-coordinates h4 {
	margin-top: 4%;
	text-transform: uppercase;
	font-size: 1.1rem;
	font-weight: bold;
	padding: 1% 1% 1% 3%;
}
#map {
	height: 395px;
	/* width: 800px; */
	margin-right: 2.6%;
	border-bottom-right-radius: 20px;
}
